@model MyAirbnb.Controllers.ManagerController.EditCheckLists


<form method="post">

    <input asp-for="SpaceCategoryId" />

    <textarea asp-for="CheckInItems" class="pre-wrap"></textarea>

    <textarea asp-for="CheckOutItems" class="pre-wrap"></textarea>

    <button type="submit" class="btn btn-success">Save</button>

</form>