@page
@{
    ViewData["Title"] = "Admin";
    ViewData["ActivePage"] = ManageNavPages.Admin;
}

<div class="row">
    <div class="col-md-6">

        <a asp-controller="AdminManager" asp-action="Index" class="btn btn-primary">Manage managers</a>
        <a asp-controller="AdminClients" asp-action="Index" class="btn btn-primary">Manage clients</a>
        <a asp-controller="AdminSpaceCategories" asp-action="Index" class="btn btn-primary">Manage space categories</a>


    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}