@page
@{
    ViewData["Title"] = "Manager";
    ViewData["ActivePage"] = ManageNavPages.Manager;
}

<div class="row">
    <div class="col-md-6">

        <a asp-controller="Manager" asp-action="Workers" class="btn btn-primary">Manage workers</a>
        <a asp-controller="Manager" asp-action="Checklists" class="btn btn-primary">Manage checkin and checkout lists</a>
        <a asp-controller="Manager" asp-action="CreateWorkerAccount" class="btn btn-primary">Create worker </a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}