@page
@{
    ViewData["Title"] = "Manager";
    ViewData["ActivePage"] = ManageNavPages.Manager;
}

<div class="row">
    <div class="col-md-6">
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}