@page
@{
    ViewData["Title"] = "Manager";
    ViewData["ActivePage"] = ManageNavPages.Manager;
}

<div class="row">
    <div class="col-lg-12">

        <a asp-controller="ManagerWorkers" class="btn btn-primary">Manage workers</a>
        <br /><br />
        <a asp-controller="ManagerChecklists" class="btn btn-primary">Manage checkin and checkout lists</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}