@page
@{
    ViewData["Title"] = "Worker";
    ViewData["ActivePage"] = ManageNavPages.Worker;
}

<div class="row">
    <div class="col-md-6">
        <a asp-controller="WorkerPosts" class="btn btn-primary">Manage posts</a>
        <a asp-controller="WorkerReservations" class="btn btn-primary">Manage reservations</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}