@page
@{
    ViewData["Title"] = "Worker";
    ViewData["ActivePage"] = ManageNavPages.Worker;
}

<div class="row">
    <div class="col-md-6">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}