@page
@{
    ViewData["Title"] = "Worker";
    ViewData["ActivePage"] = ManageNavPages.Worker;
}

<div class="row">
    <div class="col-md-6">

        <a asp-controller="Worker" asp-action="Posts" class="btn btn-primary">Manage posts</a>
        <a asp-controller="WorkerReservations" asp-action="Index" class="btn btn-primary">Manage reservations</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}