@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Post>


<div class="container">
    @foreach (var m in Model)
    {
        <a href="/Home/Details/@m.Id">
            <div class="container border-bottom pb-2">

                <h3>@m.Title</h3>
                <h5>@m.Address</h5>
                <h5>@m.Description</h5>

                <div>
                    @foreach (var c in m.Comodities)
                    {
                        <span>@c.Name</span>
                    }
                </div>
            </div>
        </a>
    }

</div>
