@{
    ViewData["Title"] = "Home Page";
}

@model IndexModel

<div class="container">

    @foreach (var m in Model.Posts)
    {
        await Html.RenderPartialAsync("_PartialPostRow", m);
    }

</div>

<div class="mx-auto d-inline-block">
    @if (Model.HasPreviousPage)
    {
        <a class="btn btn-sm" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.CurrentPage-1)">&#60;</a>
    }
    
    @*
    //TODO add property type
    //TODO add search bar and rooms and beds search
    *@

    <span>@Model.CurrentPage</span>

    @if (Model.HasNextPage)
    {
        <a class="btn btn-sm" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.CurrentPage+1)">&#62;</a>
    }
</div>