@model MyAirbnb.Models.EditPost
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<h1>Create Post</h1>
<hr />

<div class="container">
    <form asp-action="Create">

        @{await Html.RenderPartialAsync("PostFormEdition", Model); }

        <div class="container mt-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="position-relative" style="right:0px;">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
