@model MyAirbnb.Models.EditPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Post</h1>
<hr />

<div class="container">
    <form asp-action="Edit">

        @{await Html.RenderPartialAsync("PostFormEdition", Model); }

        <div class="container mt-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="position-relative" style="right:0px;">
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
