@model MyAirbnb.Models.ManagerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Manager Details</h1>

<div>
    @{ await Html.RenderPartialAsync("_UserInfo", Model.Manager); }
</div>
<div>
   
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-controller="ManagerWorkers" asp-action="Index" asp-route-id="@Model.Manager.Id">Workers list</a><br />
    <a asp-controller="ManagerChecklists" asp-action="Index" asp-route-id="@Model.Manager.Id">Checklists</a><br />
    <a asp-action="Index">Back to List</a>
</div>
